<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{secure/layout/master-layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer/customer.css}"/>
    <title>MidWesTen Bank - Customer Registration Form</title>
</head>
<body> <!--onload="document.querySelector('#customerNumber').focus();"-->
    <th:block layout:fragment="content">
        <form id="customerRegistrationForm" method="post" action="/midwestenbank/secure/customers/new" th:object="${customer}">
            <fieldset>
                <legend>New Customer Registration Form</legend>
                <div class="container" style="margin-top: 1em;">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="customerId" th:value="${customer.customerId}"/>
                            <div class="form-group" style="margin-top: 1em;">
                                <label for="customerNumber">Customer Number:</label>
                                <span th:if="${#fields.hasErrors('customerNumber')}" th:errors="*{customerNumber}"
                                      class="alert alert-danger"></span>
                                <input tabindex="1" id="customerNumber" name="customerNumber" type="text" class="form-control" value=""
                                       th:value="${customer.customerNumber}" required autofocus/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                      class="alert alert-danger"></span>
                                <input tabindex="2" id="firstName" name="firstName" type="text" class="form-control" th:value="${customer.firstName}"/>
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email Address:</label>
                                <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"
                                      class="alert alert-danger"></span>
                                <input tabindex="5" id="emailAddress" name="emailAddress" type="email" class="form-control"
                                       aria-describedby="emailAddressHelp" th:value="${customer.emailAddress}"/>
                                <small id="emailAddressHelp" class="form-text text-muted">Enter a valid email</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="middleName">Middle Name:</label>
                                <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                                      class="alert alert-danger"></span>
                                <input tabindex="3" id="middleName" name="middleName" type="text" class="form-control" th:value="${customer.middleName}"/>
                            </div>
                            <div class="form-group">
                                <label for="contactPhoneNumber">Contact Phone Number:</label>
                                <span th:if="${#fields.hasErrors('contactPhoneNumber')}" th:errors="*{emailAddress}"
                                      class="alert alert-danger"></span>
                                <input tabindex="6" id="contactPhoneNumber" name="contactPhoneNumber" type="tel" class="form-control"
                                       aria-describedby="contactPhoneNumberHelp" th:value="${customer.contactPhoneNumber}"/>
                                <small id="contactPhoneNumberHelp" class="form-text text-muted">Enter a valid phone number in the format, (123) 456-7890</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                      class="alert alert-danger"></span>
                                <input tabindex="4" id="lastName" name="lastName" type="text" class="form-control" th:value="${customer.lastName}"/>
                            </div>
                            <div class="form-group">
                                <label for="dateOfBirth">Date of birth:</label>
                                <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                      class="alert alert-danger"></span>
                                <input tabindex="7" id="dateOfBirth" name="dateOfBirth" type="date" class="form-control"
                                       aria-describedby="dateOfBirthHelp" th:value="${customer.dateOfBirth}"/>
                                <small id="dateOfBirthHelp" class="form-text text-muted">Enter a valid Date</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>&nbsp;</div>
                        </div>
                        <div class="col-md-6">
                            <div style="text-align: right;">
                                <button tabindex="8" id="btnReset" type="reset" class="btn btn-outline-info" style="margin-right: 2em;">Reset</button>
                                <a tabindex="9" href="/midwestenbank/secure/customers/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                                <button tabindex="10" id="btnSubmit" type="submit" class="btn btn-outline-primary">Register Customer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </th:block>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>
