<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.thymeleaf.org"
       layout:decorate="~{secured/layouts/master-layout}">
<head>
    <title>eLibrary - a SpringWebMVC demo - Books</title>
</head>
<body>
    <div layout:fragment="content" style="padding-top:1em; margin-bottom: 1em;" class="container">
            <div>
                <span style="font-size: 2em; color: #32a5e7;">Books in our Collection</span>
                <span style="float:right;">
                    <a class="btn btn-outline-success btn-lg" href="/elibrary/secured/services/book/new">Add a new book</a>
                </span>
            </div>
            <!-- Search panel -->
            <form id="searchBookForm" method="get" action="/elibrary/secured/services/book/search">
                <div style="margin-top:1em;" class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Enter a string to search for books" th:value="${searchString}" autofocus />
                            <div class="input-group-append">
                                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div style="font-size: 1em">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Overdue Fee</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Date Published</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book,iterStat : ${books}">
                        <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${book.isbn}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.overdueFee}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.datePublished}"></td>
                        <td><a th:href="@{'/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}">Edit</a></td>
                        <td>
                            <a data-toggle="modal" data-target="#confirmDeleteBookModal" th:href="@{'/elibrary/book/delete/' + ${book.bookId}}">Delete</a>
    <!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
    <!--                            Launch demo modal-->
    <!--                        </button>-->
                        </td>
                    </tr>
                    <tr th:if="${booksCount < 1}">
                        <td colspan="8" th:align="center">No books found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you wish to delete this book data?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
